:root {
  --color: #474a52;
  --light-color: #a5abc0;
  --back: #e6f1f0;
  --link: #305dbe;
  --link-dark: #254997;
}

* {
  outline: none;
  box-sizing: border-box;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--back);
  color: var(--color);
}

main {
  height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  font-family: 'Ubuntu', 'Courier New', Courier, monospace;
  font-size: 70px;
  text-align: center;
}

p {
  margin: 5px 0;

  font-size: 20px;
  text-align: center;
}

a {
  text-decoration: none;
  color: var(--link);
}

a:hover {
  color: var(--link-dark);
}

footer {
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  border-top: 1px solid var(--light-color);
  text-align: center;
}

footer small {
  font-size: 15px;
}

footer small a {
  font-weight: bold;
}